<div class="ui four column doubling stackable grid container">
  <p id="notice"><%= notice %></p>
  <h1>Notes</h1>
  <button class="ui inverted primary button">+</button>
</div>
<div class="ui four column doubling stackable grid container">
  <% @notes.each do |note| %>
    <%=render 'notes/note', note: note%>
  <%end%>
</div>


<%= link_to 'New Note', new_note_path %>
